* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    outline: none;
}

:root {
    --main-color: white;
    --bg-box: #D0D0D0;
    --task: #f2f2f2;
    --taskdone: #80ADAA;
    --btn: #32848F;
    --error-bg: #E9BB88;
    --error-text: #cc0000;
    --bg-dark-mode: #191919;
    --dark-mode: #363636;
    --btn-dark-mode: #483078;
}

body {
    min-height: 100vh;
    /* altura mínima de 100% da viewport */
    display: flex;
    flex-direction: column;
    /* Distribui o espaço verticalmente */
    align-items: center;
    margin: 0;
    background: url("./assets/background.jpg") no-repeat center center fixed;
    background-size: cover;
}

.content-wrapper {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-toggle-mode {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    cursor: pointer;
}

.dark-btn {
    width: 30px;
    height: 30px;
    opacity: 1;
}

.dark-btn:hover {
    width: 40px;
    height: 40px;
    transition: 0.3s ease-in-out;
}

.title {
    font-family: "Oregano", cursive;
    font-size: 60px;
    margin: 30px 20px;
}

.small-containers {
    display: flex;
}

.small-containers p {
    font-style: bold;
    font-weight: 400;
    font-size: 15px;
}

.small-container1 {
    background-color: var(--bg-box);
    border-radius: 8px;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.6);
    padding: 10px;
}

.small-container2,
.small-container3 {
    background-color: var(--bg-box);
    border-radius: 8px;
    margin-left: 25px;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.6);
    padding: 10px;
}

.main-container {
    background-color: var(--bg-box);
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    margin: 70px auto 0;
}

.main-input {
    padding-left: 10px;
    border: 2px solid transparent;
    border-radius: 5px;
    width: calc(100% - 100px);
    height: 40px;
    font-size: 17px;
    transition: border-color 0.3s ease;
}

.main-input.error {
    border-color: var(--error-bg);
}

.btn {
    background-color: var(--btn);
    color: white;
    font-size: 17px;
    font-weight: 400;
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    align-items: end;
    padding: 0 10px;
    float: right;
}

.btn:hover {
    opacity: 0.8;
}

.btn:active {
    opacity: 0.5;
}

.list-tasks {
    width: 100%;
    list-style: none;
    margin-top: 30px;
}

.tasks {
    background-color: var(--task);
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.5);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, text-decoration 0.3s ease;
    word-wrap: break-word;
    word-break: break-all;
}

.btnClearAllTasks {
    background-color: var(--btn);
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    align-items: end;
    padding: 5px;
}

.btnClearAllTasks:hover {
    opacity: 0.8;
}

.btnClearAllTasks:active {
    opacity: 0.5;
}

.tasks:hover img {
    opacity: 1;
}

.tasks p {
    flex: 1;
    margin: auto;
    padding: 0 10px;
}

img {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    height: 25px;
    margin-left: 5px;
}

.img-done:hover {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: 0.6 ease-in-out;
}

.img-delete:hover {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: 0.6 ease-in-out;
}

.img-edit:hover {
    width: 30px;
    height: 30px;
    transition: 0.6 ease-in-out;
}

.edit-input {
    padding-left: 10px;
    border: 2px solid transparent;
    border-radius: 5px;
    width: calc(100% - 100px);
    height: 40px;
    font-size: 17px;
    transition: border-color 0.3s ease;
}

.edit-save-btn {
    background-color: var(--btn);
    color: white;
    font-size: 14px;
    font-weight: 400;
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    align-items: end;
    padding: 0 10px;
    float: right;
}

.edit-save-btn:hover {
    opacity: 0.8;
}

.edit-save-btn:active {
    opacity: 0.5;
}

.done {
    background-color: var(--taskdone);
    opacity: 0.8;
    text-decoration: line-through;
    transition: 0.5s ease-in-out;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 8px;
    margin-top: 20px;
    color: #ffffff;
    gap: 5px;
    margin-top: auto;
    /* Empurra o footer para baixo */
}

footer h1,
footer h2 {
    color: var(--white);
    font-size: 15px;
    font-weight: 400;
}

footer i {
    font-size: 18px;
    padding: 0 0 10px 10px;
    transition: 0.5s;
}

footer a {
    font-style: bold;
    font-weight: 700;
    color: white;
    text-decoration: none;
}

footer i:hover {
    transform: translateY(-3px);
}

footer a:active {
    opacity: .7;
}

.error-message {
    background-color: var(--error-bg);
    color: var(--error-text);
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
    position: absolute;
    width: 300px;
    top: 170px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* DARK MODE */

body.dark-mode {
    background: url("./assets/dark-mode.jpg") no-repeat center center fixed;
    color: #eeeeee;
}

body.dark-mode .main-container {
    background-color: var(--bg-dark-mode);
    color: #eeeeee;
}

body.dark-mode .small-container1,
body.dark-mode .small-container2,
body.dark-mode .small-container3 {
    background-color: var(--dark-mode);
    color: #eeeeee;
}

body.dark-mode .main-input {
    color: #a7a6a6;
    background-color: var(--dark-mode);
}

body.dark-mode .tasks {
    color: #a7a6a6;
    background-color: var(--dark-mode);
}

body.dark-mode .btn {
    background-color: var(--btn-dark-mode);
    color: #a7a6a6;
}

body.dark-mode .btnClearAllTasks {
    background-color: var(--btn-dark-mode);
    color: #a7a6a6;
}

body.dark-mode .edit-save-btn {
    background-color: var(--btn-dark-mode);
    color: #a7a6a6;
}

body.dark-mode .error-message {
    background-color: #333385;
    color: #a7a6a6;
}

body.dark-mode .main-input.error {
    border-color: #4D4D73;
}

body.dark-mode .done {
    background-color: #5838A0;
}

body.dark-mode .edit-input {
    color: #a7a6a6;
    background-color: var(--dark-mode);
}

body.dark-mode .edit-save-btn {
    background-color: #4D4D73;
}

body.dark-mode .edit-save-btn:hover {
    opacity: 0.8;
}

body.dark-mode .edit-save-btn:active {
    opacity: 0.5;
}

body.dark-mode .img-done {
    filter: invert(100%);
}

body.dark-mode .img-edit {
    filter: invert(100%);
}

body.dark-mode .img-delete {
    filter: invert(100%);
}

body.dark-mode .dark-btn {
    filter: invert(90%);
}

body.dark-mode .dark-btn:hover {
    width: 40px;
    height: 40px;
    transition: 0.3s ease-in-out;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 500px) {

    .title {
        font-size: 40px;
    }

    .small-container1 p {
        font-size: 12px
    }

    .small-container2 p {
        font-size: 12px
    }

    .small-container3 p {
        font-size: 12px
    }

.main-container {
    padding: 10px;
    width: 380px;
}

.btn {
    font-size: 13px;
}

.btnClearAllTasks {
    font-size: 13px;
}

.main-input {
    font-size: 15px;
}

.edit-input {
font-size: 15px;
}
}
